*

!.devcontainer
!.devcontainer/*
!uv.lock

!config/
!config/run_config.yaml
config/config-**

!deploy/
!deploy/**

!images/
!images/**

!models/
!models/**

!nba_betting_ai/
!nba_betting_ai/**

!nba_betting_ai/
!nba_betting_ai/**

!notebooks/
!notebooks/**

!.streamlit/
!.streamlit/**

!.gitignore
!.pre-commit-config.yaml
!.python-version
!pyproject.toml
!README.md

**/__pycache__/