*

!.devcontainer
!.devcontainer/*
!uv.lock

!config/
!config/run_config.yaml
!config/run_config_bayesian.yaml
!config/run_config_catboost.yaml
!config/run_config_linear_logistic.yaml
!config/run_config_linear_regression.yaml
config/config-**

!deploy/
!deploy/**

!images/
!images/**

!models/
!models/**

!nba_ingame_prob/
!nba_ingame_prob/**

!nba_ingame_prob/
!nba_ingame_prob/**

!notebooks/
!notebooks/**

!paper/
!paper/**

!.streamlit/
!.streamlit/**

!.gitignore
!.pre-commit-config.yaml
!.python-version
!pyproject.toml
!README.md

**/__pycache__/
